/**
* Base Stylsheet for Stylight task
*
* @author Martin Bayer
* @date 06 August 2015
*
* Desktop first layout
*/

// TODO: cleanup unecessary css

@import "base";
@import "helpers";
@import "mobile";


#home {
    width: 90%;
    margin: 0 auto 24px auto;
}


// content styles
.pin-content {
    border: 1px solid green;

    .pin-item {

    }
}