/**
* Base Stylsheet for Stylight task
*
* @author Martin Bayer
* @date 06 August 2015
*
* Desktop first layout
*/
*, input, :before, :after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  width: 100%;
  margin: 0 auto;
  display: block;
  font-family: 'Roboto Condensed', sans-serif;
  color: #666; }

h1 {
  font-family: 'Droid Serif', serif; }

img {
  display: block;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

header {
  border: 1px solid;
  overflow: hidden; }
  header h1 {
    padding: 20px;
    margin: 0; }
  header p {
    margin: 0 0 12px; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }
  ul > li {
    position: relative;
    float: left; }
    ul > li:hover ul {
      display: block;
      background: #ccc; }
  ul ul {
    position: absolute;
    display: none; }

#home {
  width: 90%;
  padding-top: 60px;
  margin: 0 auto 24px auto; }

nav {
  position: fixed;
  top: 0;
  right: 5%;
  left: 5%;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  background: #ccc;
  z-index: 9999; }
  nav a {
    display: block;
    padding: 8px;
    margin-right: 12px; }
  nav form {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; }
  nav input {
    border: none;
    padding: 12px; }
    nav input:focus {
      width: 100%;
      outline: none;
      background: #e6e6e6; }

.mobile-nav {
  display: none; }

#task-1 .pin-content {
  margin: 20px 0;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px; }
  #task-1 .pin-content .pin-item {
    text-align: center;
    margin-bottom: 12px; }
    #task-1 .pin-content .pin-item img {
      margin: 0 auto; }

#task-2 .pin-content {
  margin: 20px 0;
  position: relative; }
  #task-2 .pin-content .pin-item {
    position: absolute;
    width: 320px;
    text-align: center;
    margin-bottom: 12px; }
    #task-2 .pin-content .pin-item img {
      margin: 0 auto; }
#task-2 .type-1 {
  height: 750px; }
#task-2 .type-2 {
  height: 250px; }
#task-2 .type-3 {
  height: 450px; }

.header-content {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  padding: 0 20px; }

/* mobile styles and breakpoints */
@media only screen and (max-width: 900px) {
  #task-1 .pin-content {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2; } }
@media only screen and (max-width: 767px) {
  #home {
    width: 100%; }

  .mobile-nav {
    display: block; }

  nav {
    display: block;
    width: 300px;
    left: -300px;
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    top: 0;
    bottom: 0;
    padding: 0 15px 15px;
    max-width: 90%;
    z-index: 10;
    background-color: #ccc;
    -webkit-transition: all 0.35s cubic-bezier(0.46, 0.01, 0.32, 1);
    -moz-transition: all 0.35s cubic-bezier(0.46, 0.01, 0.32, 1);
    -ms-transition: all 0.35s cubic-bezier(0.46, 0.01, 0.32, 1);
    -o-transition: all 0.35s cubic-bezier(0.46, 0.01, 0.32, 1);
    transition: all 0.35s cubic-bezier(0.46, 0.01, 0.32, 1); }
    nav ul li {
      float: none; }
      nav ul li:hover ul {
        display: none; }
    nav ul ul {
      position: static;
      padding-left: 12px;
      display: none; }
    nav.js-drawer-open {
      -webkit-transform: translateX(300px);
      -moz-transform: translateX(300px);
      -ms-transform: translateX(300px);
      -o-transform: translateX(300px);
      transform: translateX(300px); }
    nav a {
      color: #666; }

  .js-moved {
    -webkit-transform: translateX(300px);
    -moz-transform: translateX(300px);
    -ms-transform: translateX(300px);
    -o-transform: translateX(300px);
    transform: translateX(300px); }

  .content {
    -webkit-transition: all 0.35s cubic-bezier(0.46, 0.01, 0.32, 1);
    -moz-transition: all 0.35s cubic-bezier(0.46, 0.01, 0.32, 1);
    -ms-transition: all 0.35s cubic-bezier(0.46, 0.01, 0.32, 1);
    -o-transition: all 0.35s cubic-bezier(0.46, 0.01, 0.32, 1);
    transition: all 0.35s cubic-bezier(0.46, 0.01, 0.32, 1); }

  .header-content {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0; } }
@media only screen and (max-width: 600px) {
  #task-1 .pin-content {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1; } }

/*# sourceMappingURL=app.css.map */
